<h1>
	App Building Feeling Slow?

</h1>

		
<div>
	<div>
	<a href="<%= starters_url%>">	<%= image_tag "https://gs1.wac.edgecastcdn.net/8019B6/data.tumblr.com/tumblr_m4fqawzW4o1roe8h3o1_400.png" %></a>
	</div>

	<h2>
		Pick up the pace and go Rappid!
	</h2>
</div>